@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100; 
  background-color: black; 
  color: white;        
  margin: 0;
  padding: 0;
}



/*Navbar*/


.navbar {
position: fixed;
  padding: 1rem;
  top: 0;
 

}


.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/*Home pagina*/
.HomeL{
  margin-left: 900px;
  margin-top: -40px;
  color: white;
  font-size: 60px;

}

.HomeS{
  color: white;
  margin-left: 900px;
  margin-top: -30px;
}


.HomeW{
  color: white;
  margin-left: 60px;
  margin-top: 200px;
  font-size: 20px;
}
body{
  background-color: black;
}

/*contact pagina*/
.ContactC{
  margin-top: -160px;
  margin-left: 635px;
}

.contact-form {
  padding: 1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  color: #111;            
  background-color: white; 
  border-radius: 8px;      
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

.contact-form button {
  width: 100%;
  background-color: #111;
  color: white;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #333;
}

.contactPage{ 
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ContactL{
 height: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 20px;
 width: 80vw;
 margin: 5rem auto 0;


}

.ContactL div {
  display: flex;
  gap: 1rem;
}

.imgC{
  width: 50px;
  height: auto;
}





/*about me pagina*/


.profiel{

}



.projectcard{
  width: 20%;

}
.projectcard img{
width: 100%;
}


.projectscontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}


/* ProjectDetail pagina */
.projectdetail {
  width: 80%;
  margin: 6rem auto; /* gecentreerd en niet tegen de navbar */
  color: white;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.projectdetail h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.projectdetail img.detail-image {
  width: 100%;
  max-width: 600px;
  margin: 1rem 0;
  border-radius: 8px;
}

.projectdetail p {
  margin: 0.5rem 0;
  line-height: 1.5rem;
}

.projectdetail button {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 6px;
}

.projectdetail button:hover {
  background-color: #333;
}
